.inventoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .inventoryOptions {
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
  }
}
